{% for type,messages in app.session.flashbag.all %}
    {% for message in messages %}
        <div class="alert alert-{{ type }}">
            <span>{{ message }}</span>
        </div>
    {% endfor %}
{% endfor %}